:root {

    --button-back-hover-color:#333;
    --button-text-hover-color:#FFF;
    --button-text-hover-color-2:#FFF;
    --button-border-active-color:#AAA;

    --body-background-color:#222;
    --back-background-color:#999;
    --face-background-color:#333;

}