:root {

    --button-back-hover-color:#FFF;
    --button-text-hover-color:#000;
    --button-text-hover-color-2:#FFF;
    --button-border-active-color:#333;

    --body-background-color:#AAA;
    --back-background-color:#444;
    --face-background-color:#FAFAFA;


}