.diagButton {
    width: 56px;
    height: 28px;
    margin-top: 4px;
    margin-right: 2px;
    margin-left: 2px;
    background-color: #CCC;
    border: 3px solid #CCC;
    border-radius: 5px;
    font-weight: bold;
    color: #000;
    font-size: 15px;
    transition: 0.3s;

}
.diagButton:hover {
    color: var(--button-text-hover-color);
    background-color: var(--button-back-hover-color);
    transition: 0.1s;
}
.diagButton:active {
    background-color: var(--button-back-hover-color);
    border: 3px solid var(--button-border-active-color);
    border-radius: 10px;
    transition: 0.1s;
}

.diagButtonRed {
    width: 56px;
    height: 28px;
    margin-top: 4px;
    margin-right: 2px;
    margin-left: 2px;
    background-color: #FFDD00;
    border: 3px solid #FFDD00;
    border-radius: 5px;
    font-weight: bold;
    color: #000;
    font-size: 15px;
    transition: 0.3s;
}
.diagButtonRed:hover {
    color: var(--button-text-hover-color);
    background-color: var(--button-back-hover-color);
    transition: 0.1s;
}
.diagButtonRed:active {
    color: var(--button-text-hover-color);
    background-color: var(--button-back-hover-color);
    border: 3px solid var(--button-border-active-color);
    border-radius: 10px;
    transition: 0.1s;
}

.diagButtonGreen {
    width: 56px;
    height: 28px;
    margin-top: 4px;
    margin-right: 2px;
    margin-left: 2px;
    background-color: #66DD66;
    border: 3px solid #66DD66;
    border-radius: 5px;
    font-weight: bold;
    color: #000;
    font-size: 15px;
    transition: 0.3s;
}
.diagButtonGreen:hover {
    color: var(--button-text-hover-color);
    background-color: var(--button-back-hover-color);
    transition: 0.1s;
}
.diagButtonGreen:active {
    color: var(--button-text-hover-color);
    background-color: var(--button-back-hover-color);
    border: 3px solid var(--button-border-active-color);
    border-radius: 10px;
    transition: 0.1s;
}

.diagButtonBlue {
    width: 56px;
    height: 28px;
    margin-top: 4px;
    margin-right: 2px;
    margin-left: 2px;
    background-color: #384d84;
    border: 3px solid #384d84;
    border-radius: 5px;
    font-weight: bold;
    color: #FFF;
    font-size: 15px;
    transition: 0.3s;
}
.diagButtonBlue:hover {
    color: var(--button-text-hover-color-2);
    background-color: var(--button-back-hover-color);
    transition: 0.1s;
}
.diagButtonBlue:active {
    background-color: var(--button-back-hover-color);
    border: 3px solid #CCC;
    border-radius: 10px;
    transition: 0.1s;
}