.diagButton {
    width: 56px;
    height: 28px;
    margin-top: 4px;
    background-color: #FFFFFF;
    border: 2px solid #999999;
    border-radius: 4px;
    font-weight: bold;
    color: #000000;
    font-size: 15px;
    transition: 0.1s;
}
.diagButton:hover {
    background-color: #DDDDDD;
}
.diagButton:active {
    background-color: #DDDDDD;
    border: 2px solid #000000;
}

.diagButtonRed {
    width: 56px;
    height: 28px;
    margin-top: 4px;
    background-color: #FFFFFF;
    border: 2px solid #FF8855;
    border-radius: 4px;
    font-weight: bold;
    color: #000000;
    font-size: 15px;
    transition: 0.1s;
}
.diagButtonRed:hover {
    background-color: #FFC599;
    background-color: #DDDDDD;
}
.diagButtonRed:active {
    background-color: #DDDDDD;
    border: 2px solid #000000;
}

.diagButtonGreen {
    width: 56px;
    height: 28px;
    margin-top: 4px;
    background-color: #FFFFFF;
    border: 2px solid #33DD33;
    border-radius: 4px;
    font-weight: bold;
    color: #000000;
    font-size: 15px;
    transition: 0.1s;
}
.diagButtonGreen:hover {
    background-color: #CCFFBB;
    background-color: #DDDDDD;
}
.diagButtonGreen:active {
    background-color: #DDDDDD;
    border: 2px solid #000000;
}

.diagButtonBlue {
    width: 56px;
    height: 28px;
    margin-top: 4px;
    background-color: #FFFFFF;
    border: 2px solid #8888FF;
    border-radius: 4px;
    font-weight: bold;
    color: #000000;
    font-size: 15px;
    transition: 0.1s;
}
.diagButtonBlue:hover {
    background-color: #DDDDFF;
    background-color: #DDDDDD;
}
.diagButtonBlue:active {
    background-color: #DDDDDD;
    border: 2px solid #000000;
}