.head-button {
    margin-right: 7px;
    margin-left: 2px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 3px solid var(--act-color);
    transition: 0.1s;
    float: left;
    font-size: 20px;
    color: #FFF;

}
.head-button:hover {
    border: 3px solid var(--basic-color);
}
.head-button:active {
    border: 3px solid var(--basic-color);
    border-radius: 15px;
}

.matrix-img {
    background: var(--act-color) url('/static/img/matrix.png');
    background-position: 1px 1px;
    background-repeat: no-repeat;
    background-size: 32px;
}

.clipboard-img {
    background: var(--act-color) url('/static/img/clipboard.png');
    background-position: 1px 1px;
    background-repeat: no-repeat;
    background-size: 32px;
}

.update-img {
    background: var(--act-color) url('/static/img/update.png');
    background-position: 1px 1px;
    background-repeat: no-repeat;
    background-size: 32px;
}

.settings-img {
    background: var(--act-color) url('/static/img/settings.png');
    background-position: 1px 1px;
    background-repeat: no-repeat;
    background-size: 32px;
}

.panel-img {
    background: var(--act-color) url('/static/img/panel.png');
    background-position: 1px 1px;
    background-repeat: no-repeat;
    background-size: 32px;
}

.air-img {
    background: var(--act-color) url('/static/img/air.png');
    background-position: 1px 1px;
    float: left;
    background-repeat: no-repeat;
    background-size: 32px;
}
