.sideLongBlock {
    width: 229px;
    background-color: #0000FF
    height: auto;
    margin: 0 22px 0 24px;
}

.sideMiniBlock {
    margin-bottom: 32px;
    background-color: #FF00FF
    width: 240px;
    height: auto;
}

button.sideElem {
    opacity: 0;
    transition: opacity 0.2s, width 0.4s;
}

.diagLog.sideElem {
    opacity: 0;
    transition: opacity 0.2s, width 0.4s;
}

.diagLogBlock.sideElem {
    opacity: 0;
    transition: opacity 0.2s, width 0.4s;
}