::-webkit-scrollbar {
    width: 0px; /* Ширина полоски */
}
::-webkit-scrollbar-track {
    background: #EEE; /* Цвет фона полоски */
}

body {
	background: var(--body-background-color);
	color: var(--button-text-color);
	margin:0;
	padding:0;
	font-family:Arial;
	font-size:13px;
	height: calc(100vh);
}

.mainFrame {
    display: flex;
    margin: auto;
    flex-direction: row;
}

.mainFrameSub {
    background: var(--face-background-color);
    padding: 0 48px 0 48px;
    width: auto;
    height: auto;
    display: flex;
    border-radius: 20px;
    transition: 0.5s;
}

.sideFrameSub {
    background: var(--face-background-color);
    width: 0px;
    height: auto;
    display: flex;
    border-radius: 20px;
    transition: 0.5s;
}

.sep {
    width: 24px;
    transition: 0.5s;
}

.diagLongBlock {
    width: 244px;
    height: auto;
    margin: 0 8px 0 10px;
}

.diagMiniBlock {
    margin-bottom: 32px;
    height: auto;
}

.diagLog {
    margin-top: 4px;
    margin-right: 2px;
    margin-left: 2px;
    height: 184px;
    width: 230px;
    border: 3px solid var(--basic-color);
    background-color: var(--basic-color);
    border-radius: 5px;
    overflow-y: auto;

}

.diagLogBlock {
    font-size: 13px;
    font-weight: bold;
    margin: 8px 10px 8px 13px;
    width: auto;
    height: auto;
    text-align:justify;
}


.hidden {
    display: none;
}
  

.fullInfo {
    opacity: 0;
    padding: 20px 0 20px 35px;

    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    
    
    position: absolute;
    height: fit-content;
    width: 255px;

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    
    transition: opacity 0.3s;
    border: 3px solid var(--body-background-color);
    border-radius: 10px;
}