{% extends 'switch.html' %}

{% block imports %}

    <script src="{{ url_for('static', filename='js/dlink/ajax_init.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dlink/leftrow.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dlink/midrow.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dlink/rightrow.js') }}"></script>

{% endblock %}

{% block leftrow %}

        <div class="diagMiniBlock" id="portInfo">
            <button class="diagButton" style="width: 236px; height: 60px;"></button>
        </div>
        <div class="diagMiniBlock" id="errorsInfo">
            <button class="diagButton" style="width: 236px; height: 124px;"></button>
        </div>
        <div class="diagMiniBlock" id="cableInfo">
            <button class="diagButton" style="width: 236px; height: 60px;"></button>
        </div>
        <div class="diagMiniBlock"></div>
{% endblock %}

{% block midrow %}

    <div class="diagLongBlock">

        <div style="margin-bottom: 40px;"></div>

        <div class="diagMiniBlock">
            <button class="diagButton"
                    style="width: 236px; height: 40px; margin-top: 0; font-size: 18px;">
                {{ switchtype }}
            </button>
        </div>

        <div class="diagMiniBlock" id="bindInfo">
            <button class="diagButton" style="width: 236px; height: 92px;"></button>
        </div>
        <div class="diagMiniBlock" id="macInfo">
            <button class="diagButton" style="width: 236px; height: 60px;"></button>
        </div>
        <div class="diagMiniBlock" id="utilInfo">
            <button class="diagButton" style="width: 236px; height: 124px;"></button>
        </div>
        <div class="diagMiniBlock" id="openPortInfo">
            <button class="diagButton" style="width: 236px;"></button>
        </div>
        <div class="diagMiniBlock"></div>
    </div>
{% endblock %}

{% block rightrow %}
    <div class="diagLongBlock">

        <div style="margin-bottom: 40px;"></div>

        <div class="diagMiniBlock">
            {% if ctype == 'air' %}
                <script src="/static/js/air/air_init.js"></script>
                <link rel="stylesheet" type="text/css" href="/static/css/air_input.css">

                <button class="diagButton"
                        style="width: 191px; height: 40px; margin-top: 0; font-size: 18px;"
                        onclick="saveClip('{{ switchip }}')">
                    {{ topinfo }}
                </button>
                <button class="head-button air-img"
                        title='Профиль&#10;Абонента'
                        style="float: right;"
                        onclick="air_prompt_show();"
                ></button>

            {% else %}
                <button class="diagButton"
                        style="width: 236px; height: 40px; margin-top: 0; font-size: 18px;"
                        onclick="saveClip('{{ switchip }}')">
                    {{ topinfo }}
                </button>
            {% endif %}
        </div>

        <div class="diagMiniBlock" id="logInfo">
            <button class="diagButton" style="width: 236px;"></button>
            <div class="diagLog" style="height: 310px;"></div>
        </div>
        <div class="diagMiniBlock"></div>
    </div>

    {% if ctype == 'air' %}
        <div id="myPrompt" class="airInputOverlay">
            <div class="airInputWindow">
                <button class="diagButton"
                        style="width: 255px; height: 40px; margin: 20px 0 0 20px; font-size: 18px;">
                    Ввод IP-адресов AIR:
                </button>
                <button class="head-button close-img" style="float: right;" onclick="air_prompt_close()"></button>

                <input class="airInputField" autocomplete="off" id="baseIp" placeholder="ip базы">
                <input class="airInputField" autocomplete="off" id="stationIp" style="margin-left: 9px" placeholder="ip станции">
                <button class="head-button confirm-img" style="float: right;" onclick="open_air_page()"></button>
            </div>
        </div>
    {% endif %}
{% endblock %}
