{% extends 'switch.html' %}

{% block imports %}

    <script src="{{ url_for('static', filename='js/dlink/ajax_init.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dlink/leftrow.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dlink/midrow.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dlink/rightrow.js') }}"></script>

{% endblock %}

{% block leftrow %}

        <div class="diagMiniBlock" id="portInfo">
            <button class="diagButton" style="width: 236px; height: 60px;"></button>
        </div>
        <div class="diagMiniBlock" id="errorsInfo">
            <button class="diagButton" style="width: 236px; height: 124px;"></button>
        </div>
        <div class="diagMiniBlock" id="cableInfo">
            <button class="diagButton" style="width: 236px; height: 60px;"></button>
        </div>
        <div class="diagMiniBlock"></div>
{% endblock %}

{% block midrow %}

    <div class="diagLongBlock">

        <div style="margin-bottom: 40px;"></div>

        <div class="diagMiniBlock">
            <button class="diagButton"
                    style="width: 236px; height: 40px; margin-top: 0; font-size: 18px;
">
                {{ switchtype }}
            </button>
        </div>

        <div class="diagMiniBlock" id="bindInfo">
            <button class="diagButton" style="width: 236px; height: 92px;"></button>
        </div>
        <div class="diagMiniBlock" id="macInfo">
            <button class="diagButton" style="width: 236px; height: 60px;"></button>
        </div>
        <div class="diagMiniBlock" id="utilInfo">
            <button class="diagButton" style="width: 236px; height: 124px;"></button>
        </div>
        <div class="diagMiniBlock" id="openPortInfo">
            <button class="diagButton" style="width: 236px;"></button>
        </div>
        <div class="diagMiniBlock"></div>
    </div>
{% endblock %}

{% block rightrow %}
    <div class="diagLongBlock">

        <div style="margin-bottom: 40px;"></div>

        <div class="diagMiniBlock">
            {% if True %}
                <button class="diagButton"
                        style="width: 236px; height: 40px; margin-top: 0; font-size: 18px;"
                        onclick="saveClip('{{ switchip }}')">
                    {{ topinfo }}
                </button>
            {% else %}
                <button class="head-button matrix-img"
                        title='Профиль&#10;Абонента'
                        style="float: right;"
                        onclick="openInNewTab('http://localhost:8000/air_init/{{token}}/?base_ip=&station_ip=');"
                ></button>
                <button class="diagButton"
                        style="width: 188px; height: 40px; margin-top: 0; font-size: 18px;"
                        onclick="saveClip('{{ switchip }}')">
                    {{ topinfo }}
                </button>
            {% endif %}
        </div>

        <div class="diagMiniBlock" id="logInfo">
            <button class="diagButton" style="width: 236px;"></button>
            <div class="diagLog" style="height: 310px;"></div>
        </div>
        <div class="diagMiniBlock"></div>
    </div>
{% endblock %}
