{% extends 'switch.html' %}

{% block imports %}

    <script src="{{ url_for('static', filename='js/bdcom/ajax_init.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bdcom/leftrow.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bdcom/rightrow.js') }}"></script>

{% endblock %}

{% block leftrow %}
    <div class="diagLongBlock" style="margin: 0 auto 0 auto;">
        <div class="diagMiniBlock" id="portInfo">
            <button class="diagButton" style="width: 236px; height: 60px;"></button>
        </div>
        <div class="diagMiniBlock" id="signalInfo">
            <button class="diagButton" style="width: 236px;"></button>
        </div>
        <div class="diagMiniBlock" id="activeInfo">
            <button class="diagButton" style="width: 236px;"></button>
        </div>
        <div class="diagMiniBlock"></div>
    </div>
{% endblock %}

{% block rightrow %}
    <div class="diagLongBlock" style="margin: 0 auto 0 0;">
        <div class="diagMiniBlock" id="macInfo">
            <button class="diagButton" style="width: 236px; height: 60px;"></button>
        </div>
        <div class="diagMiniBlock" id="openPortInfo">
            <button class="diagButton" style="width: 236px;"></button>
        </div>
        <div class="diagMiniBlock"></div>
    </div>
{% endblock %}
