{% extends 'index.html' %}

{% block imports %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <div class="js-data"
        token="{{ token }}"
        still_active_url="{{ url_for('token_still_active', token='') }}"

        get_port_url="{{ url_for('dlink_get_port', token='') }}"
        disable_port_url="{{ url_for('dlink_disable_port', token='') }}"
        get_errors_url="{{ url_for('dlink_get_errors', token='') }}"
        clear_url="{{ url_for('dlink_clear', token='') }}"
        get_cable_url="{{ url_for('dlink_get_cable', token='') }}"

        get_bind_url="{{ url_for('dlink_get_bind', token='') }}"
        get_mac_url="{{ url_for('dlink_get_mac', token='') }}"
        get_util_url="{{ url_for('dlink_get_util', token='') }}"
        get_open_port_url="{{ url_for('get_open_port', token='') }}"

        get_log_url="{{ url_for('dlink_get_log', token='') }}"
        get_full_log_url="{{ url_for('dlink_get_full_log', token='') }}"


    ></div>

    <script src="{{ url_for('static', filename='js/dlink/ajax_init.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dlink/leftrow.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dlink/midrow.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dlink/rightrow.js') }}"></script>

{% endblock %}

{% block leftrow %}
    <div class="diagLongBlock" style="margin: 0 auto 0 auto;">
        <div class="diagMiniBlock" id="portInfo"></div>
        <div class="diagMiniBlock" id="errorsInfo"></div>
        <div class="diagMiniBlock" id="cableInfo"></div>
        <div class="diagMiniBlock"></div>
    </div>
{% endblock %}

{% block midrow %}
    <div class="diagLongBlock" style="margin: 0 auto 0 0;">
        <div class="diagMiniBlock" id="bindInfo"></div>
        <div class="diagMiniBlock" id="macInfo"></div>
        <div class="diagMiniBlock" id="utilInfo"></div>
        <div class="diagMiniBlock" id="openPortInfo"></div>
        <div class="diagMiniBlock"></div>
    </div>
{% endblock %}

{% block rightrow %}
    <div class="diagLongBlock" style="margin: 0 auto 0 0;">
        <div class="diagMiniBlock" id="logInfo">
            <button class="diagButton" style="width: 236px;">Проверяю записи лога...</button>
            <div class="diagLog"></div>
            <button class="diagButton" style="width: 236px;">Ищу шторм/кольцо...</button>
        </div>
        <div class="diagMiniBlock">
            <button class="diagButton" style="width: 236px;" onclick="copyDiag('all')">Копировать всё</button>
        </div>
        <div class="diagMiniBlock"></div>
    </div>
{% endblock %}
