{% extends 'index.html' %}

{% block imports %}

    <script src="{{ url_for('static', filename='js/dlink/ajax_init.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dlink/leftrow.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dlink/midrow.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dlink/rightrow.js') }}"></script>

{% endblock %}

{% block leftrow %}
    <div class="diagLongBlock" style="margin: 0 auto 0 auto;">
        <div class="diagMiniBlock" id="portInfo"></div>
        <div class="diagMiniBlock" id="errorsInfo"></div>
        <div class="diagMiniBlock" id="cableInfo"></div>
        <div class="diagMiniBlock"></div>
    </div>
{% endblock %}

{% block midrow %}
    <div class="diagLongBlock" style="margin: 0 auto 0 0;">
        <div class="diagMiniBlock" id="bindInfo"></div>
        <div class="diagMiniBlock" id="macInfo"></div>
        <div class="diagMiniBlock" id="utilInfo"></div>
        <div class="diagMiniBlock" id="openPortInfo"></div>
        <div class="diagMiniBlock"></div>
    </div>
{% endblock %}

{% block rightrow %}
    <div class="diagLongBlock" style="margin: 0 auto 0 0;">
        <div class="diagMiniBlock" id="logInfo">
            <button class="diagButton" style="width: 236px;">Проверяю записи лога...</button>
            <div class="diagLog"></div>
            <button class="diagButton" style="width: 236px;">Ищу шторм/кольцо...</button>
        </div>
        <div class="diagMiniBlock">
            <button class="diagButton" style="width: 236px;" onclick="copyDiag('all')">Копировать всё</button>
        </div>
        <div class="diagMiniBlock"></div>
    </div>
{% endblock %}
