<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buttons.css') }}">
    <title>{{title}}</title>
    <script src="{{ url_for('static', filename='js/buttons.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ajax_patterns.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tolerance.js') }}"></script>
    <script src="{{ url_for('static', filename='js/diag_buf_copy.js') }}"></script>

</head>
<body>


{% block imports %}
{% endblock %}

<div class="mainMenu" style="z-index: 1000; margin-top: 0px">
        <td align="left" id="logo_block" width="15%">
            <a href="https://gcdbviewer.matrixhome.net/" title="gcdbviewer" style="color: #CCC; border: none; text-decoration: none;">
                <div style="height: 26px; padding-left: 66px; line-height: 26px; font-size: 17px; font-weight: bold; float: left;">
                </div>
            </a>
        </td>
</div>


<div class="topMargin"></div>

<div class="diagTopFrame">
    <div class="diagTopFrameSub">
        {{ topinfo }}
    </div>
</div>


<div class="mainFrameSub">

        {% block leftrow %}
        {% endblock %}

        {% block midrow %}
        {% endblock %}

        {% block rightrow %}
        {% endblock %}

</div>


<div>
        {% block bottom %}
        {% endblock %}
</div>

</body>
</html>