{% extends 'index.html' %}

{% block leftrow %}
    <div class="diagLongBlock" style="margin: 0 0 0 auto; width: 160px;">
        {% for t in context.tokens %}
            <div class="diagMiniBlock" style="font-size:20px; margin-bottom:16px;">token: {{t}}</div>
        {% endfor %}
        <div class="diagMiniBlock" style="margin-bottom:32px;"></div>
    </div>
{% endblock %}

{% block midrow %}
    <div class="diagLongBlock" style="margin: 0 0 0 0; width: 140px;">
        {% for t in context.timeouts %}
            <div class="diagMiniBlock" style="font-size:20px; margin-bottom:16px;">time: {{t}}</div>
        {% endfor %}

    </div>
{% endblock %}

{% block rightrow %}
    <div class="diagLongBlock" style="margin: 0 auto 0 0; width: 160px;">
        {% for u in context.usernames %}
            <div class="diagMiniBlock" style="font-size:20px; margin-bottom:16px;">user: {{u}}</div>
        {% endfor %}
    </div>
{% endblock %}


{% block bottom %}
    {% for c in context.changes_list %}
    <div class="diagTopFrame" style="margin:10px auto 0 auto; height:10px; background: #eeeeee;">
        <div style="margin:10px auto 0 auto;">{{c}}</div>
    </div>

    {% endfor %}
{% endblock %}
