<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/themes/{{theme}}.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/head.css">
    <link rel="stylesheet" type="text/css" href="/static/css/buttons.css">
    <link rel="stylesheet" type="text/css" href="/static/css/head_buttons.css">
    <link rel="stylesheet" type="text/css" href="/static/css/side_elems.css">


    <title>{{title}}</title>
    <script src="/static/js/buttons.js"></script>
    <script src="/static/js/diag_buf_copy.js"></script>
    <script src="/static/js/ajax_patterns.js"></script>
    <script src="/static/js/ip_tools.js"></script>
    <script src="/static/js/side_panel.js"></script>
    <script src="/static/js/ping_logic.js"></script>


    <link rel="shortcat icon" href="/static/img/gear_icon.png" type="image/x-icon"/>

    <script>
        var token = "{{ token }}";
        var still_active_url = "/still_active/";
        var get_open_port_url = "/get_open_port/";
        var change_theme_url = "/change_theme/";
        var abonPingStatus = {};
        var switch_info = "{{ topinfo }}";

        {% for ip in data.ip_list %}
            abonPingStatus['{{ip}}'] = 'not started';
        {% endfor %}
    </script>


</head>
<body>

{% block imports %}
{% endblock %}


<div class="topMargin"></div>

<div class="mainFrame">

    <div class="sep" style="margin-left: auto;"></div>

    <div id="mainPanel" class="mainFrameSub">
        <div class="diagLongBlock">
            <div style="margin-bottom: 40px;"></div>

            <div class="diagMiniBlock" style="height: 40px;">

                <button class="head-button matrix-img"
                        title='Профиль&#10;Абонента'
                        onclick="openInNewTab('https://gcdbviewer.matrixhome.net/usersearch.php?anumber=' + '{{ data.anumber }}');"
                ></button>

                <button class="head-button clipboard-img"
                        title='Копировать&#10;Диагностику'
                        onclick="copyDiag('all');"
                ></button>

                <button class="update-img head-button"
                        title='Обновить&#10;Данные'
                        onclick="updateAll();"
                ></button>

                <button class="head-button settings-img"
                        title='Сменить&#10;тему'
                        onclick="changeTheme()"
                ></button>

                <button class="head-button panel-img"
                        title='Боковая&#10;Панель'
                        onclick="showSidePanel()"
                        style="margin-right: 0;"
                ></button>

            </div>
            {% block leftrow %}
            {% endblock %}
        </div>
            {% block midrow %}
            {% endblock %}

            {% block rightrow %}
            {% endblock %}
    </div>

    <div class="sep"></div>

    <div id="sidePanel" class="sideFrameSub">

        <div class="sideLongBlock">
            <div class="sideMiniBlock" style="margin-bottom: 36px;"></div>

            <div class="sideMiniBlock" id="sidePingButtons" style="margin-bottom: 4px;"></div>

            <div class="sideMiniBlock" id="sidePingLog" style="margin-bottom: 0;"></div>

            <div class="sideMiniBlock" id="sidePingResult" style="margin-bottom: 4px;"></div>

            <div class="sideMiniBlock" style="margin-bottom: 36px;"></div>

        </div>

    </div>

    <div class="sep" id="sepRight" style="margin-right: auto; width: 0;"></div>



</div>


</body>
</html>