<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/head.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buttons.css') }}">
    <title>{{title}}</title>
    <script src="{{ url_for('static', filename='js/buttons.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ajax_patterns.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tolerance.js') }}"></script>
    <script src="{{ url_for('static', filename='js/diag_buf_copy.js') }}"></script>

    <link rel="shortcat icon" href="{{  url_for('static', filename='img/gear_icon.png') }}" type="image/x-icon"/>

    <script>
        var token = "{{ token }}";
        var still_active_url = "/still_active/";
        var get_open_port_url = "/get_open_port/";
    </script>


</head>
<body>

{% block imports %}
{% endblock %}







<div class="topMargin"></div>

<div class="diagTopFrame">
    <div class="diagTopFrameSub" style="margin-left: auto;">

            <button class="head-button"
                    onclick="openInNewTab('https://gcdbviewer.matrixhome.net/usersearch.php?anumber=' + '{{ anumber }}');" style="
                    background: #384d84 url('{{  url_for('static', filename='img/matrix.png') }}');
                    background-position: 0px 1px; background-repeat: no-repeat; background-size: 33px;"
            ></button>

            <button class="head-button"
                    onclick="copyDiag('all');" style="
                    background: #384d84 url('{{  url_for('static', filename='img/clipboard.png') }}');
                    background-position: 2px 0px; background-repeat: no-repeat; background-size: 30px;"
            ></button>

            <button class="head-button"
                    onclick="updateAll();" style="
                    background: #384d84 url('{{  url_for('static', filename='img/update.png') }}');
                    background-position: 1px 1px; background-repeat: no-repeat; background-size: 32px;"
            ></button>

            <button class="head-button"
                    onclick="" style="
                    background: #384d84 url();
                    background-position: 1px 1px; background-repeat: no-repeat; background-size: 32px;"
            ></button>

            <button class="head-button"
                    onclick="" style="margin-right: 0;
                    background: #384d84 url();
                    background-position: 1px 1px; background-repeat: no-repeat; background-size: 32px;"
            ></button>

    </div>


    <div class="diagTopFrameSub">
        <button class="diagButton"
                style="width: 236px; height: 40px; margin-top: 0; font-size: 18px;
">
            {{ switchtype }}
        </button>

    </div>

    <div class="diagTopFrameSub">
        <button class="diagButton"
                style="width: 236px; height: 40px; margin-top: 0; font-size: 18px;"
                onclick="saveClip('{{ switchip }}')">
            {{ topinfo }}
        </button>
    </div>
</div>


<div class="mainFrameSub">

        {% block leftrow %}
        {% endblock %}

        {% block midrow %}
        {% endblock %}

        {% block rightrow %}
        {% endblock %}

</div>


<div>
        {% block bottom %}
        {% endblock %}
</div>

</body>
</html>