<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/head.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buttons.css') }}">
    <title>{{title}}</title>
    <script src="{{ url_for('static', filename='js/buttons.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ajax_patterns.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ip_tools.js') }}"></script>
    <script src="{{ url_for('static', filename='js/diag_buf_copy.js') }}"></script>
    <script src="{{ url_for('static', filename='js/addition.js') }}"></script>

    <link rel="shortcat icon" href="{{  url_for('static', filename='img/gear_icon.png') }}" type="image/x-icon"/>

    <script>
        var token = "{{ token }}";
        var still_active_url = "/still_active/";
        var get_open_port_url = "/get_open_port/";
    </script>


</head>
<body>

{% block imports %}
{% endblock %}


<div class="topMargin"></div>

<div style="display: flex; flex-direction: row;">

    <div class="mainFrameSub">

        <div class="diagLongBlock">

            <div style="margin-bottom: 40px;"></div>

            <div class="diagMiniBlock" style="height: 40px;">

                <button class="head-button"
                        title='Профиль&#10;Абонента'
                        onclick="openInNewTab('https://gcdbviewer.matrixhome.net/usersearch.php?anumber=' + '{{ anumber }}');" style="
                        background: #384d84 url('{{  url_for('static', filename='img/matrix.png') }}');
                        background-position: 0px 1px; background-repeat: no-repeat; background-size: 33px;"
                ></button>

                <button class="head-button"
                        title='Копировать&#10;Диагностику'
                        onclick="copyDiag('all');" style="
                        background: #384d84 url('{{  url_for('static', filename='img/clipboard.png') }}');
                        background-position: 2px 0px; background-repeat: no-repeat; background-size: 30px;"
                ></button>

                <button class="head-button"
                        title='Обновить&#10;Данные'
                        onclick="updateAll();" style="
                        background: #384d84 url('{{  url_for('static', filename='img/update.png') }}');
                        background-position: 1px 1px; background-repeat: no-repeat; background-size: 32px;"
                ></button>

                <button class="head-button"
                        id="additionButton"
                        title='Боковая&#10;Панель'
                        onclick="showAddition()" style="
                        background: #384d84 url('{{  url_for('static', filename='img/addition.png') }}');
                        background-position: 1px 1px; background-repeat: no-repeat; background-size: 32px;"
                ></button>

                <button class="head-button"
                        onclick="" style="margin-right: 0;
                        background: #384d84 url();
                        background-position: 1px 1px; background-repeat: no-repeat; background-size: 32px;"
                ></button>

            </div>

            {% block leftrow %}
            {% endblock %}
        </div>

            {% block midrow %}
            {% endblock %}

            {% block rightrow %}
            {% endblock %}
    </div>

            <div id="additionPanel" style="margin: 0 auto 0 0;">
            </div>

</div>


</body>
</html>