{% extends 'index.html' %}

{% block leftrow %}
    <div class="diagLongBlock" style="margin: 0 auto 0 auto;">
        <div class="diagMiniBlock" style="font-size:20px;">
            <button class="diagButtonRed" style="width: 236px;">test</button>
            <button class="diagButtonGreen" style="width: 236px;">test</button>
            <button class="diagButtonBlue" style="width: 236px;">test</button>
        </div>
        <div class="diagMiniBlock" style="margin-bottom:32px;"></div>
    </div>
{% endblock %}


{% block midrow %}
    <div class="diagLongBlock" style="margin: 0 auto 0 auto;">
        <div class="diagMiniBlock" style="font-size:20px;">
            <button class="diagButtonRed" style="width: 236px;">test</button>
            <button class="diagButtonGreen" style="width: 236px;">test</button>
            <button class="diagButtonBlue" style="width: 236px;">test</button>
        </div>
        <div class="diagMiniBlock" style="margin-bottom:32px;"></div>
    </div>
{% endblock %}


{% block rightrow %}
    <div class="diagLongBlock" style="margin: 0 auto 0 auto;">
        <div class="diagMiniBlock" style="font-size:20px;">
            <button class="diagButtonRed" style="width: 236px;">test</button>
            <button class="diagButtonGreen" style="width: 236px;">test</button>
            <button class="diagButtonBlue" style="width: 236px;">test</button>
        </div>
        <div class="diagMiniBlock" style="margin-bottom:32px;"></div>
    </div>
{% endblock %}