{% extends 'index.html' %}

{% block imports %}

    <script src="{{ url_for('static', filename='js/zyxel/ajax_init.js') }}"></script>
    <script src="{{ url_for('static', filename='js/zyxel/leftrow.js') }}"></script>
    <script src="{{ url_for('static', filename='js/zyxel/midrow.js') }}"></script>
    <script src="{{ url_for('static', filename='js/zyxel/rightrow.js') }}"></script>

{% endblock %}

{% block leftrow %}
    <div class="diagLongBlock" style="margin: 0 auto 0 auto;">
        <div class="diagMiniBlock" id="portInfo"></div>
        <div class="diagMiniBlock" id="cableInfo"></div>
        <div class="diagMiniBlock"></div>
    </div>
{% endblock %}

{% block midrow %}
    <div class="diagLongBlock" style="margin: 0 auto 0 0;">
        <div class="diagMiniBlock" id="macInfo"></div>
        <div class="diagMiniBlock" id="openPortInfo"></div>
        <div class="diagMiniBlock"></div>
    </div>
{% endblock %}

{% block rightrow %}
    <div class="diagLongBlock" style="margin: 0 auto 0 0;">
        <div class="diagMiniBlock" id="logInfo">
            <button class="diagButton" style="width: 236px;">Проверяю записи лога...</button>
            <div class="diagLog"></div>
        </div>
        <div class="diagMiniBlock"></div>
    </div>
{% endblock %}
