.sideLongBlock {
    width: 224px;
    background-color: #0000FF
    height: auto;
    margin: 0 22px 0 24px;
}

.sideMiniBlock {
    margin-bottom: 32px;
    background-color: #FF00FF
    width: 236px;
    height: auto;
}

.diagButton.sideElem {
    transition: 0.5s;
    opacity: 0;
    width: 0;
}

